<!DOCTYPE html>
<html>
<head>
 <title>Python Flask Multiple Files Upload</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<div id="wrapper">
            <div id="page-wrapper">
                <div class="row">
                    <div class="container">
                        <div id="identitycard" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="panel-title">Select file(s) to upload</div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding: 8px;font-size: 20px;" class="text-center"><b>Upload files</b></p>
                                    </div>
                                    <br>
                                    <div class="row" style="padding: 10px 15px 9px;">
                                        <form method="post" action="/" enctype="multipart/form-data">
                                            <div class="form-group"> 
                                                <div class="row" style="margin-bottom: 20px;">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-2"> 
                                                        <p style=line-height: 20px;font-size: 15px;" class="text-left"><b>1. Upload images of Class 1</b></p>
                                                        <input type="file" name="files[]" multiple="true" autocomplete="off" required> 
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>

                                                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-2"> 
                                                        <p style=line-height: 20px; ;": 8px;font-size: 15px;" class="text-left"><b>2. Upload images of Class 2</b></p>
                                                        <input type="file" name="files2[]" multiple="true" autocomplete="off" required> 
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row text-center" style="padding-left: 20px;padding-right: 20px;">
             <input type="submit" value="Submit" class="btn btn-lg btn-block btn-success" style="border-radius: 50px;background-color:hover: #35832f;">
            </div>                                                 
                                            </div>                                                                                          
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>
</body>
</html>